
<style>
  input.ng-dirty.ng-invalid
  {
    background-color: red;
  }

  input.ng-dirty.ng-valid
  {
    background-color: green;
    color:white;
  }

  input.ng-pristine.ng-invalid
  {
    background-color:LightBlue;
  }






  </style>

<div class="container">
  <div class="row">
    <div class="col-md-8">
<ng-form class="form-horizontal" name="newCourseForm" role="form">

   <div class="form-group col-md-8">
    <label >Title</label>
    <input type="text" class="form-control " placeholder="Title" 
    ng-model="course.name " required>
  </div>

  <div class="form-group col-md-8">
    <label >Price</label>
    <input type="number" class="form-control" min="1" placeholder="Price"  ng-model="course.price" required>
  </div>

  <!--div class="form-group col-md-8">
    <label >Rating</label>
    <input type="number" class="form-control" min="1" max="10" placeholder="Rating"  ng-model="course.av" required>
  </div-->

  <div class="form-group col-md-8">
    <label >Image</label>
    <input type="text" class="form-control" ng-model="course.pic" placeholder="image">
  </div>

  <!--div class="form-group col-md-8">
          <label class="col-sm-2 control-label">Date</label>
       
            <input type="text" class="form-control" ng-model="course.date" placeholder="enter date in dd/mm/yyyy" ng-pattern="/\d\d/\d\d/\d\d\d\d/">
        </div-->

   <div class="form-group col-md-8">
    <label >Description</label>
  <textarea rows="6" class="form-control" ng-model="course.description" placeholder="Description" required></textarea>

  
  </div>

  
 
  
   <div class="form-group col-md-8">
  <button class="btn btn-success pull-right" ng-disabled="newCourseForm.$invalid" ng-click="addCourse(course, newCourseForm)">Create</button>

</div>
</ ng-form>
</div>
<div class="col-md-4">
  <img ng-src="http://i.imgur.com/{{course.pic}}.jpg" style="margin-left:0px" class="img-rounded" height="300px" width="300px">
    </div>

    </div>
 
 </div>
 
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>