<div class="progress">

	
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="10" style="height:100px;background-color: green;color:white; white-space:nowrap;width:{{course.av*10 | number:2}}%">
    <span class="sr-only">45% Complete</span>{{course.av*10| number:2}}%
  </div>





  <progressbar class="progress-striped"  value="course.av" style="width:course.av" type="warning"></progressbar>
    <!--progressbar class="progress-striped" max="max" value="dynamic"><span style="color:red; white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar-->
 
</div>
